.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
node_modules/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageserver/**
!node_modules/vscode-languageserver-textdocument/**